//== Colors
// Primarys
$blueGreen: #006772;
$seeBlue: #33a1ad;
$seeGray: #78828a;
$seeDark: #201f1f;
$white: #fff;
$black: #000;
//Greys
$footer: #323e48;
$darkGrey: #5c5c5c;
$MedGrey: #b0b0b0;
$lightGrey: #dedede;
$footerText: #f9f4f4;

// Utilities
$success: #33a1ad;
$error: #cf3339;
$color-foreground: $darkGrey;
$color-background: $darkGrey;
$color-link: $black;
$body-bg-color: $white;

// One-offs
$social-share-mobile-bg: #2a343d;

// CTAs
$cta-bg: rgb(49, 161, 173);
$cta-bg-hover: rgb(37, 125, 134);
