.see-cta {
    display: flex;

    &--left {
        justify-content: flex-start;
    }

    &--center {
        justify-content: center;
    }

    &--right {
        justify-content: flex-end;
    }

    &__primary,
    &__secondary {
        background: $cta-bg;
        padding: 1.25rem;
        display: inline-flex;
        align-items: center;

        &:hover {
            background: $cta-bg-hover;
            text-decoration: none;
        }

        .see-cta__text {
            color: $white;
            font-family: Forza-Medium;
            font-size: 0.9375rem;
            padding-right: 0.625rem;
            height: 35px;
            letter-spacing: 0px;
            line-height: 2.1875rem;
        }

        .see-cta__icon {
            color: $white;
        }
    }

    &__primary {
        border-radius: 6px;
        height: 2.5625rem;

        &:hover {
            .see-cta__icon {
                display: block;
            }
        }

        .see-cta__icon {
            display: none;
        }
    }

    &__secondary {
        border-radius: 0;
        height: 55px;
    }
}
