<div data-sly-test="${wcmmode.edit}" class="edit-in-dialog-msg">
    ${'Hero Carousel' @i18n}
</div>

<div class="see-carousel see-hc__carousel">
    <div class="see-hc__glide see-glide glide see-glide--carousel">
        <div class="see-hc__track glide__track" data-glide-el="track">
            <ul class="see-hc__slides glide__slides">
                <li class="see-hc__slide glide__slide">
                    <div class="see-hc__overlay">
                       <img src="/content/dam/sealedair/Sustainability.jpg" class="see-hc__img" alt="true" style="object-position: top right";/>
                       <div class="see-hc__overlay--content">
                            <span class="see-eyebrow">_02</span>
                            <h1>More than <span class="thin-p-font">Sustainability</span></h1>
                            <p class="see-hc__content-abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="see-cta see-cta--left">
                                <a data-sly-attribute.id="${ctaModel.id}" data-sly-attribute.target="_self" class="see-cta__primary"
                                href="#" aria-label="hero link">
                                    <span class="see-cta__text">See Our Impact</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="see-hc__slide glide__slide ">
                    <div class="see-hc__overlay">
                        <img src="/content/dam/sealedair/innovation.jpg" class="see-hc__img" alt="true" style="object-position: top right";/>
                        <div class="see-hc__overlay--content">
                             <span class="see-eyebrow">_02</span>
                             <h1>More than <span class="thin-p-font">Innovation</span></h1>
                             <p class="see-hc__content-abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                             <div class="see-cta see-cta--left">
                                 <a data-sly-attribute.id="${ctaModel.id}" data-sly-attribute.target="_self" class="see-cta__primary"
                                 href="#" aria-label="hero link">
                                     <span class="see-cta__text">See Our Impact</span>
                                 </a>
                             </div>
                         </div>
                     </div>
                </li>
                <li class="see-hc__slide glide__slide ">
                    <div class="see-hc__overlay">
                        <img src="/content/dam/sealedair/Leadership.jpg" class="see-hc__img" alt="true" style="object-position: top right";/>
                        <div class="see-hc__overlay--content">
                             <span class="see-eyebrow">_02</span>
                             <h1>Leadership</h1>
                             <p class="see-hc__content-abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                             <div class="see-cta see-cta--left">
                                 <a data-sly-attribute.id="${ctaModel.id}" data-sly-attribute.target="_self" class="see-cta__primary"
                                 href="#" aria-label="hero link">
                                     <span class="see-cta__text">See Our Impact</span>
                                 </a>
                             </div>
                         </div>
                     </div>
                </li>
            </ul>
        </div>

        <div class="see-hc__bullets glide__bullets" data-glide-el="controls[nav]">
            <button class="see-hc__bullet glide__bullet" data-glide-dir="=0" tabindex="-1" aria-label="carousel slide 0">01</button>
            <button class="see-hc__bullet glide__bullet" data-glide-dir="=1" tabindex="-1" aria-label="carousel slide 1">02</button>
            <button class="see-hc__bullet glide__bullet" data-glide-dir="=2" tabindex="-1" aria-label="carousel slide 2">03</button>
        </div>


        <div class="see-hc__nav-block glide__arrows" data-glide-el="controls">
            <button class="see-hc-glide__arrow glide__arrow glide__arrow--right" data-glide-dir=">" aria-label="next slide"
                tabindex="-1">
                <div class="see-hc__nb-content">
                    <div class="see-hc__nb-content--inner">
                        <span class="see-eyebrow">Up next</span>
                        <i class="icon-arrow-right"></i>
                        <span class="see-hc__abstract">
                            <span class="see-eyebrow">03</span>
                            Innovation is part of our DNA
                        </span>
                    </div>

                    <img src="/content/dam/sealedair/jeremy-bishop-7JPerNWjEAE-unsplash@2x.jpg" class="see-hc__nb-img">
                </div>

            </button>
        </div>
    </div>
</div>
